<div class="body">
    <h1> In search page </h1>
    <div class="main">
        <div class = "filter">
            <p><b><i> FILTERS </i></b></p>
            <br>
            <p><b> BRAND </b></p>
            <!--<div ng-repeat="brand in sc.brands | unique:brand ">-->
                <!--<input type="checkbox"> {{brand}}-->
            <!--</div>-->

            <div ng-repeat="brand in sc.brands | unique:brand">
                <input type="checkbox" id = "brand" ng-click="sc.toggleSelection(brand)"> {{brand}}
            </div>


            <td>

        </div>

        <div class="products">
            {{sc.returnedData}}
            <div class="s" ng-repeat="x in sc.returnedData" >
                image name {{x.img}}
                <img class="image" src="{{'/app/images/'+x.img}}">
                <div class="data">
                    <p>{{x.name}}</p>
                    <p> price:{{x.price}}</p>
                </div>
                <hr>
            </div>
        </div>
    </div>
    </div>
</div>